<a href="https://colab.research.google.com/github/Mihir-1511/mihir/blob/main/Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.) Add two numbers.

In [ ]:
a = 10
b = 9
c = a + b
d = b - a
e = b/a
print(c)
print(d)
print(e)

19
-1
0.9

2.)Convert hours into minutes.

In [ ]:
hour = 5
minute = 60 * hour
print(minute)

300

7.)Convert minutes into hours.

In [ ]:
minute = 10
hour = minute/60
print(hour)

0.16666666666666666

8.)Convert dollars into Rs. Where 1 $ = 48 Rs.

In [ ]:
rs = 2000
doller = rs/82
print(doller)

24.390243902439025

9.)Convert Rs. into dollars where 1 $ = 48 Rs.

In [ ]:
rs = 980
doller = rs/82
print(doller)

11.951219512195122

10.) Convert dollars into pound where 1 $ = 48 Rs. And 1 pound = 70 Rs.

In [ ]:
doller = 60
rs = doller * 82
pound = rs /70
print('doller to pound is ',pound)

doller to pound is  70.28571428571429

11.) Convert grams into kg.

In [ ]:
gram = 1000
kg = gram /1000
print('gm to kg is ',kg)

gm to kg is  1.0

12.) Convert kgs into grams.

In [ ]:
kg = 5
gram = kg * 1000
print('kg to gram',gram)

kg to gram 5000

13.) Convert bytes into KB, MB and GB.

In [ ]:
byte = 5000
kb = byte / 1024
mb = kb /1042
gb = mb / 1024
print('byte to kb is',kb,'byte to mb is ',mb,'byte to gb is ',gb)

byte to kb is 4.8828125 byte to mb is  0.004686000479846449 byte to gb is  4.576172343600048e-06

14.) Convert celcius into Fahrenheit. F = (9/5 * C) + 32

In [ ]:
celcius = 37
fehrenheit = (9/5*celcius)+32
print(fehrenheit)

98.60000000000001

15.) Convert Fahrenheit into celcius. C = 5/9 * (F – 32)

In [ ]:
fehrenheit = 98.6
celcius = (5/9)*(fehrenheit-32)
print(celcius)

37.0

16.) Calculate interest where I = PRN/100.

In [ ]:
p = 1000
t = 10
r = 7
intrest = (p*t*r)/100
print(intrest)

700.0

17.) Calculate area & perimeter of a square. A = L^2, P = 4L

In [ ]:
length = 50
area = length ** 2
perimeter = 4 * length
print(area)
print(perimeter)

2500
200

18.) Calculate area & perimeter of a rectangle. A = L*B, P = 2 (L+B)

In [ ]:
length = 50
width = 7
area = length * width
perimeter = 2*(length + width)
print(area)
print(perimeter)

350
114

19.) Calculate area of a circle. A = 22/7 * R * R

In [ ]:
radius = 35
area = (22/7)*radius*radius
print(area)

3850.0

20.) Calculate area of a triangle. A = H*L/2

In [ ]:
h = 10
l = 5
a = (h*l)/2
print(a)

25.0

23.) Calculate average of three subjects along with their total.

In [ ]:
math = 100
phy = 68
chem = 75
total = math + phy + chem
avg = total / 3
print(total)
print(avg)

243
81.0

24.) Swap two values.

In [ ]:
a = 25
b = 14
a = a + b
b = a - b
a = a - b
print(a,b)

14 25

22.) Calculate net sales where net sales = gross sales – 10% discount of gross sales.

In [ ]:
grosalary = 100000
netsalery = grosalary - (grosalary*10)/100
print(netsalery)

90000.0

21.) Calculate net salary where net salary = gross salary + allowance – deduction. Allowances are 10% while deductions are 3% of gross salary.

In [ ]:
grossalary = 100000
allow = (grossalary*10)/100
deduc = (grossalary*3)/100
netsalary = grossalary + allow -deduc
print(netsalary)

107000.0

If-else conditionals :

1)Print largest and smallest values out of two.

In [ ]:
num1= 25
num2 = 69
if (num1>num2):
  print("Num1 is largest values")
else:
  print("num1 is smallest")

if(num2>num1):
  print("num2 is largest values")
else:
  print("num2 is smallest")

num1 is smallest
num2 is largest values

2.) Print largest and smallest values out of three.

In [ ]:
num1 = 45
num2 = 56
num3 = 19
if(num1>num2 and num1 >num3):
  print("num1 is largest values")
else:
  print("num1 is smallest")
if(num2>num3 and num2>num1):
    print("num2 is largest values")
else:
  print("num2 is smallest")
if(num3>num1 and num3>num2):
  print("num3 is largest")
else:
  print("num3 is smallest")

num1 is smallest
num2 is largest values
num3 is smallest

3) Check whether a given number is odd or even

In [ ]:
num = 7
if(num%2==0):
  print("Even")
else:
  print("odd")

odd

4) Check whether a given number is divisible by 10 or not.

In [ ]:
num = 600
if(num%10==0):
  print("it is divisiable by 10")

else:
  print(" it is not divisiable by 10")

it is divisiable by 10

5) Accept age of a person. If age is less than 18, print minor otherwise Major.

In [ ]:
age = int(input("Enter the age of person:"))
if(age<18):
  print("minor")

else:
  print("major")

Enter the age of person:23
major

6) Accept a number from the user. And print number of digits in it.

In [ ]:
num = input("Enter the numbers:")
print(len(num))

Enter the numbers:123456789014
12

7) Accept a year value from the user. Check whether it is a leap year or not.

In [ ]:
year = int(input("Enter the year:"))
if( year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0 )):
  print("it is a leap year")
else:
  print("it is not leap year")

Enter the year:2025
it is not leap year

8) Check whether a triangle is valid or not, when the three angles of the triangle are entered through the keyboard. A triangle is valid if te sum of all the three angles is equal to 180 degrees.

In [ ]:
side1 = int(input("Enter the 1st side:"))
side2 = int(input("Enter the 2nd side:"))
side3  = int(input("Enter the 3rd side:"))
if(side1 + side2 +side3 == 180):
  print("triange is valid")
else:
  print("triange is invalid")

Enter the 1st side:45
Enter the 2nd side:45
Enter the 3rd side:90
triange is valid

9) Print absolute value of a given number.

In [ ]:
num  = -7
print(abs(num))

7

10) Given the length and breadth of a rectangle, write a program to find whether theare of the rectangle is greater than its perimeter.

In [ ]:
len = 87
breath = 41
area = len * breath
perimeter = 2*(len + breath)
if(area > perimeter):
  print('area is greater than perimeter')
else:
  print('area is smaller than perimeter')

area is greater than perimeter

11) Given three points (x1,y1), (x2,y2) and (x3,y3), check if all the three points fall on one straight line

In [ ]:
x1 = 2
x2 = 1
x3 =6
y1 =9
y2 = 7
y3 =4
a = (x1*(y2-y3))+(x2*(y3-y1))+(x3*(y1-y2))
if (a == 0):
  print('all the points fall on one stright line')
else:
  print("all the points dont fall on one stright line")

all the points dont fall on one stright line

12) Given the coordinates (x,y) of center of a circle and its radius, determine whether a point lies inside the circle, on the circle or outside the circle. (Hint: Use sqrt( ), pow( ) )

In [ ]:
import math


circle_x = 5
circle_y = 1
radius = 8
point_x = 3
point_y = 7


distance = math.sqrt(math.pow(point_x - circle_x, 2) + math.pow(point_y - circle_y, 2))


if distance < radius:
    print(f"The point ({point_x}, {point_y}) is inside the circle.")
elif distance == radius:
    print(f"The point ({point_x}, {point_y}) is on the circle.")
else:
    print(f"The point ({point_x}, {point_y}) is outside the circle.")

The point (3, 7) is inside the circle.

13) Convert number 0 to 19 to its equivalent words. E.g. 0  zero, 19nineteen.

In [ ]:
number = 7

number_words = [
    "zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine",
    "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen",
    "seventeen", "eighteen", "nineteen"
]


if 0 <= number <= 19:
    print(f"The number {number} is written as '{number_words[number]}'.")
else:
    print("Number is out of range (0-19).")

The number 7 is written as 'seven'.

14) Accept marks of three subjects. Print total and average along with whether a candidate has passed or fail. If student secures <= 39 marks in any subject, consider him as fail. Also assigned a subject wise grade based on the following table: bold text

In [ ]:
sub1 = int(input("Enter the maths mark:"))
sub2 = int(input("Enter the chemistry mark:"))
sub3 = int(input("Enter the physics mark:"))
sum = sub1+sub2+sub3 /3
if(sub1 <= 39 or sub2 <=39 or sub3<=39):
  print("Fail")

elif(sum>= 40 and sum <=44 ):
  print("P")

elif(sum>= 45 and sum <=49 ):
  print("C")

elif(sum>= 50 and sum <=54 ):
  print("B")

elif(sum>= 55 and sum <=59 ):
  print("B+")

elif(sum>= 60 and sum <= 69 ):
  print("A")

elif(sum>= 70 and sum <= 79):
  print("A+")

elif(sum>= 80 and sum <=100 ):
  print("O")

else:
  print("good")

Enter the maths mark:99
Enter the chemistry mark:80
Enter the physics mark:50
good