<a href="https://colab.research.google.com/github/Mihir-1511/mihir/blob/main/Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.) Add two numbers.

In [ ]:
a = 10
b = 9
c = a + b
d = b - a
e = b/a
print(c)
print(d)
print(e)

19
-1
0.9

2.)Convert hours into minutes.

In [ ]:
hour = 5
minute = 60 * hour
print(minute)

300

7.)Convert minutes into hours.

In [ ]:
minute = 10
hour = minute/60
print(hour)

0.16666666666666666

8.)Convert dollars into Rs. Where 1 $ = 48 Rs.

In [ ]:
rs = 2000
doller = rs/82
print(doller)

24.390243902439025

9.)Convert Rs. into dollars where 1 $ = 48 Rs.

In [ ]:
rs = 980
doller = rs/82
print(doller)

11.951219512195122

10.) Convert dollars into pound where 1 $ = 48 Rs. And 1 pound = 70 Rs.

In [ ]:
doller = 60
rs = doller * 82
pound = rs /70
print('doller to pound is ',pound)

doller to pound is  70.28571428571429

11.) Convert grams into kg.

In [ ]:
gram = 1000
kg = gram /1000
print('gm to kg is ',kg)

gm to kg is  1.0

12.) Convert kgs into grams.

In [ ]:
kg = 5
gram = kg * 1000
print('kg to gram',gram)

kg to gram 5000

13.) Convert bytes into KB, MB and GB.

In [ ]:
byte = 5000
kb = byte / 1024
mb = kb /1042
gb = mb / 1024
print('byte to kb is',kb,'byte to mb is ',mb,'byte to gb is ',gb)

byte to kb is 4.8828125 byte to mb is  0.004686000479846449 byte to gb is  4.576172343600048e-06

14.) Convert celcius into Fahrenheit. F = (9/5 * C) + 32

In [ ]:
celcius = 37
fehrenheit = (9/5*celcius)+32
print(fehrenheit)

98.60000000000001

15.) Convert Fahrenheit into celcius. C = 5/9 * (F – 32)

In [ ]:
fehrenheit = 98.6
celcius = (5/9)*(fehrenheit-32)
print(celcius)

37.0

16.) Calculate interest where I = PRN/100.

In [ ]:
p = 1000
t = 10
r = 7
intrest = (p*t*r)/100
print(intrest)

700.0

17.) Calculate area & perimeter of a square. A = L^2, P = 4L

In [ ]:
length = 50
area = length ** 2
perimeter = 4 * length
print(area)
print(perimeter)

2500
200

18.) Calculate area & perimeter of a rectangle. A = L*B, P = 2 (L+B)

In [ ]:
length = 50
width = 7
area = length * width
perimeter = 2*(length + width)
print(area)
print(perimeter)

350
114

19.) Calculate area of a circle. A = 22/7 * R * R

In [ ]:
radius = 35
area = (22/7)*radius*radius
print(area)

3850.0

20.) Calculate area of a triangle. A = H*L/2

In [ ]:
h = 10
l = 5
a = (h*l)/2
print(a)

25.0

23.) Calculate average of three subjects along with their total.

In [ ]:
math = 100
phy = 68
chem = 75
total = math + phy + chem
avg = total / 3
print(total)
print(avg)

243
81.0

24.) Swap two values.

In [ ]:
a = 25
b = 14
a = a + b
b = a - b
a = a - b
print(a,b)

14 25

22.) Calculate net sales where net sales = gross sales – 10% discount of gross sales.

In [ ]:
grosalary = 100000
netsalery = grosalary - (grosalary*10)/100
print(netsalery)

90000.0

21.) Calculate net salary where net salary = gross salary + allowance – deduction. Allowances are 10% while deductions are 3% of gross salary.

In [ ]:
grossalary = 100000
allow = (grossalary*10)/100
deduc = (grossalary*3)/100
netsalary = grossalary + allow -deduc
print(netsalary)

107000.0

If-else conditionals :

1)Print largest and smallest values out of two.

In [ ]:
num1= 25
num2 = 69
if (num1>num2):
  print("Num1 is largest values")
else:
  print("num1 is smallest")

if(num2>num1):
  print("num2 is largest values")
else:
  print("num2 is smallest")

num1 is smallest
num2 is largest values

2.) Print largest and smallest values out of three.

In [ ]:
num1 = 45
num2 = 56
num3 = 19
if(num1>num2 and num1 >num3):
  print("num1 is largest values")
else:
  print("num1 is smallest")
if(num2>num3 and num2>num1):
    print("num2 is largest values")
else:
  print("num2 is smallest")
if(num3>num1 and num3>num2):
  print("num3 is largest")
else:
  print("num3 is smallest")

num1 is smallest
num2 is largest values
num3 is smallest

3) Check whether a given number is odd or even

In [ ]:
num = 7
if(num%2==0):
  print("Even")
else:
  print("odd")

odd

4) Check whether a given number is divisible by 10 or not.

In [ ]:
num = 600
if(num%10==0):
  print("it is divisiable by 10")

else:
  print(" it is not divisiable by 10")

it is divisiable by 10

5) Accept age of a person. If age is less than 18, print minor otherwise Major.

In [ ]:
age = int(input("Enter the age of person:"))
if(age<18):
  print("minor")

else:
  print("major")

Enter the age of person:23
major

6) Accept a number from the user. And print number of digits in it.

In [ ]:
num = input("Enter the numbers:")
print(len(num))

Enter the numbers:123456789014
12

7) Accept a year value from the user. Check whether it is a leap year or not.

In [ ]:
year = int(input("Enter the year:"))
if( year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0 )):
  print("it is a leap year")
else:
  print("it is not leap year")

Enter the year:2025
it is not leap year

8) Check whether a triangle is valid or not, when the three angles of the triangle are entered through the keyboard. A triangle is valid if te sum of all the three angles is equal to 180 degrees.

In [ ]:
side1 = int(input("Enter the 1st side:"))
side2 = int(input("Enter the 2nd side:"))
side3  = int(input("Enter the 3rd side:"))
if(side1 + side2 +side3 == 180):
  print("triange is valid")
else:
  print("triange is invalid")

Enter the 1st side:45
Enter the 2nd side:45
Enter the 3rd side:90
triange is valid

9) Print absolute value of a given number.

In [ ]:
num  = -7
print(abs(num))

7

10) Given the length and breadth of a rectangle, write a program to find whether theare of the rectangle is greater than its perimeter.

In [ ]:
len = 87
breath = 41
area = len * breath
perimeter = 2*(len + breath)
if(area > perimeter):
  print('area is greater than perimeter')
else:
  print('area is smaller than perimeter')

area is greater than perimeter

11) Given three points (x1,y1), (x2,y2) and (x3,y3), check if all the three points fall on one straight line

In [ ]:
x1 = 2
x2 = 1
x3 =6
y1 =9
y2 = 7
y3 =4
a = (x1*(y2-y3))+(x2*(y3-y1))+(x3*(y1-y2))
if (a == 0):
  print('all the points fall on one stright line')
else:
  print("all the points dont fall on one stright line")

all the points dont fall on one stright line

12) Given the coordinates (x,y) of center of a circle and its radius, determine whether a point lies inside the circle, on the circle or outside the circle. (Hint: Use sqrt( ), pow( ) )

In [ ]:
import math


circle_x = 5
circle_y = 1
radius = 8
point_x = 3
point_y = 7


distance = math.sqrt(math.pow(point_x - circle_x, 2) + math.pow(point_y - circle_y, 2))


if distance < radius:
    print(f"The point ({point_x}, {point_y}) is inside the circle.")
elif distance == radius:
    print(f"The point ({point_x}, {point_y}) is on the circle.")
else:
    print(f"The point ({point_x}, {point_y}) is outside the circle.")

The point (3, 7) is inside the circle.

13) Convert number 0 to 19 to its equivalent words. E.g. 0  zero, 19nineteen.

In [ ]:
number = 7

number_words = [
    "zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine",
    "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen",
    "seventeen", "eighteen", "nineteen"
]


if 0 <= number <= 19:
    print(f"The number {number} is written as '{number_words[number]}'.")
else:
    print("Number is out of range (0-19).")

The number 7 is written as 'seven'.

14) Accept marks of three subjects. Print total and average along with whether a candidate has passed or fail. If student secures <= 39 marks in any subject, consider him as fail. Also assigned a subject wise grade based on the following table: bold text

In [ ]:
sub1 = int(input("Enter the maths mark:"))
sub2 = int(input("Enter the chemistry mark:"))
sub3 = int(input("Enter the physics mark:"))
sum = sub1+sub2+sub3 /3
if(sub1 <= 39 or sub2 <=39 or sub3<=39):
  print("Fail")

elif(sum>= 40 and sum <=44 ):
  print("P")

elif(sum>= 45 and sum <=49 ):
  print("C")

elif(sum>= 50 and sum <=54 ):
  print("B")

elif(sum>= 55 and sum <=59 ):
  print("B+")

elif(sum>= 60 and sum <= 69 ):
  print("A")

elif(sum>= 70 and sum <= 79):
  print("A+")

elif(sum>= 80 and sum <=100 ):
  print("O")

else:
  print("good")

Enter the maths mark:99
Enter the chemistry mark:80
Enter the physics mark:50
good

Loops in Python :

1)	Print all alphabets in upper case and in lower case.

In [ ]:

for i in range(65, 91):
    print(chr(i), end=" ")
print()


for i in range(97, 123):
    print(chr(i), end=" ")
print()

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
a b c d e f g h i j k l m n o p q r s t u v w x y z

2)	Print a multiplication table of a given number.

In [ ]:

def multiplication_table(number, upto=10):
    for i in range(1, upto + 1):
        print(f"{number} x {i} = {number * i}")


number = int(input("Enter a number: "))
multiplication_table(number)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

3)	Count no. of alphabets and no. of digits in any given string.

In [ ]:

def alphabets_digits(input_string):
    alphabets = 0
    digits = 0

    for char in input_string:
        if char.isalpha():
            alphabets += 1
        elif char.isdigit():
            digits += 1

    return alphabets, digits

input_string = input("Enter a string: ")
alphabets, digits = alphabets_digits(input_string)

print(f"Number of alphabets: {alphabets}")
print(f"Number of digits: {digits}")

Enter a string: hello world
Number of alphabets: 10
Number of digits: 0

4)	Check whether a given number is prime, is perfect, is Armstrong, is palindrome, is automorphic.

In [ ]:
def prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

def perfect(number):
    if number <= 0:
        return False
    sum_of_divisors = sum(i for i in range(1, number) if number % i == 0)
    return sum_of_divisors == number

def armstrong(number):
    num_str = str(number)
    num_digits = len(num_str)
    sum_of_powers = sum(int(digit) ** num_digits for digit in num_str)
    return sum_of_powers == number

def palindrome(number):
    num_str = str(number)
    return num_str == num_str[::-1]

def automorphic(number):
    num_str = str(number)
    squared_num_str = str(number ** 2)
    return squared_num_str.endswith(num_str)

# Example usage
number = int(input("Enter a number: "))
print(f"Is Prime: {prime(number)}")
print(f"Is Perfect: {perfect(number)}")
print(f"Is Armstrong: {armstrong(number)}")
print(f"Is Palindrome: {palindrome(number)}")
print(f"Is Automorphic: {automorphic(number)}")

Enter a number: 909
Is Prime: False
Is Perfect: False
Is Armstrong: False
Is Palindrome: True
Is Automorphic: False

5)	Generate all Pythagorean Triplets with side length <= 30.

In [ ]:
def pythagorean_triplets(limit):
    triplets = []
    for a in range(1, limit + 1):
        for b in range(a, limit + 1):
            c = (a**2 + b**2)**0.5
            if c.is_integer() and c <= limit:
                triplets.append((a, b, int(c)))
    return triplets

triplets = pythagorean_triplets(30)
for triplet in triplets:
    print(triplet)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(10, 24, 26)
(12, 16, 20)
(15, 20, 25)
(18, 24, 30)
(20, 21, 29)

6)	Print 24 hours of day with suitable suffixes like AM, PM, Noon and Midnight.

In [ ]:
def  _hours():
    hours = [
        "12 Midnight", "1 AM", "2 AM", "3 AM", "4 AM", "5 AM", "6 AM", "7 AM", "8 AM", "9 AM", "10 AM", "11 AM",
        "12 Noon", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM", "10 PM", "11 PM"
    ]
    for hour in hours:
        print(hour)

_hours()

12 Midnight
1 AM
2 AM
3 AM
4 AM
5 AM
6 AM
7 AM
8 AM
9 AM
10 AM
11 AM
12 Noon
1 PM
2 PM
3 PM
4 PM
5 PM
6 PM
7 PM
8 PM
9 PM
10 PM
11 PM

7)	Print nCr and nPr.

In [ ]:
import math

def nCr(n, r):
    return math.comb(n, r)

def nPr(n, r):
    return math.perm(n, r)

n = 15
r = 9
print(f"nCr({n}, {r}) = {nCr(n, r)}")
print(f"nPr({n}, {r}) = {nPr(n, r)}")

nCr(15, 9) = 5005
nPr(15, 9) = 1816214400

8)	Print factorial of a given number.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))

if num < 0:
    print("Sorry, factorial does not exist for negative numbers.")
else:
    print(f"The factorial of {num} is {factorial(num)}")

Enter a number: 4
The factorial of 4 is 24

9)	Print N natural nos. in reverse.

In [ ]:

def natural_numbers(N):
    for i in range(N, 0, -1):
        print(i, end=' ')


num = int(input("Enter a number: "))


natural_numbers(num)

Enter a number: 17
17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

list in python :

1) Create a list of 5 odd integers using random nos. Similarly create a list of 4 even integers using random nos. Replace the third element of odd integers with a list of 4 even integers. Flattern, sort and print the list. Provide appropriate message at each stage.

In [ ]:
# Generate odd integers
odd_integers = random.sample(range(1, 100, 2), 5)
print("List of 5 odd integers:", odd_integers)

# Generate even integers
even_integers = random.sample(range(0, 100, 2), 4)
print("List of 4 even integers:", even_integers)

# Replace third element
odd_integers[2] = even_integers
print("Updated list with the third odd integer replaced:", odd_integers)

# Flatten the list
flattened_list = []
for element in odd_integers:
    if isinstance(element, list):
        flattened_list.extend(element)
    else:
        flattened_list.append(element)

# Sort the flattened list
sorted_list = sorted(flattened_list)
print("Flattened and sorted list:", sorted_list)

List of 5 odd integers: [41, 89, 83, 43, 95]
List of 4 even integers: [16, 18, 64, 36]
Updated list with the third odd integer replaced: [41, 89, [16, 18, 64, 36], 43, 95]
Flattened and sorted list: [16, 18, 36, 41, 43, 64, 89, 95]

2) Generate 20 random integers and store them in a list. Accept a number from the user and print position of all occurrences of that number in the list.

In [ ]:
import random

random_integers = [random.randint(1, 100) for _ in range(20)]
print("Generated list of random integers:", random_integers)

user = int(input("Enter a number to find its positions in the list: "))

positions = [index for index, value in enumerate(random_integers) if value == user]

if positions:
    print(f"The number {user} occurs at positions: {positions}")
else:
    print(f"The number {use} does not occur in the list.")

Generated list of random integers: [19, 61, 78, 79, 25, 52, 82, 18, 35, 27, 73, 64, 66, 12, 3, 61, 24, 44, 93, 3]
Enter a number to find its positions in the list: 44
The number 44 occurs at positions: [17]

3) Generate 50 random numbers in the range 1 and 30. Remove all duplicate values from the list.

In [ ]:
import random


random_numbers = [random.randint(1, 30) for _ in range(50)]

duplicate_numbers = list(set(random_numbers))

print("Random numbers:", random_numbers)
print("Unique numbers:", duplicate_numbers)

Random numbers: [26, 30, 23, 30, 3, 15, 3, 14, 10, 27, 11, 28, 22, 25, 20, 28, 12, 23, 9, 11, 5, 14, 14, 12, 7, 27, 29, 4, 10, 26, 10, 6, 8, 22, 14, 22, 23, 16, 29, 3, 2, 28, 17, 23, 2, 6, 7, 1, 1, 8]
Unique numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 29, 30]

4) Generate 30 random numbers and put them in a list. Create two more lists – one containing only +ve numbers and another with –ve nos.

In [ ]:
import random

random_numbers = [random.randint(-50, 50) for _ in range(30)]

positive_list = [num for num in random_numbers if num > 0]
negative_list = [num for num in random_numbers if num < 0]

print("Random numbers:", random_numbers)
print("Positive numbers:", positive_list)
print("Negative numbers:", negative_list)

Random numbers: [6, 43, 10, 34, -32, 14, 50, -2, -15, -1, -8, -10, -18, 48, -18, -19, 18, -12, 41, 22, 17, 2, 29, 37, -10, 29, 6, -25, -15, -20]
Positive numbers: [6, 43, 10, 34, 14, 50, 48, 18, 41, 22, 17, 2, 29, 37, 29, 6]
Negative numbers: [-32, -2, -15, -1, -8, -10, -18, -18, -19, -12, -10, -25, -15, -20]

5) A list contains 5 strings. Convert all these strings to uppercase.

In [ ]:

stringslist = ["hello", "world", "python", "programming", "rocks"]

uppercaselist = [string.upper() for string in stringslist]

print("Original list:", stringslist)
print("Uppercase list:", uppercaselist)

Original list: ['hello', 'world', 'python', 'programming', 'rocks']
Uppercase list: ['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING', 'ROCKS']

6) Convert list of temperatures in Fahrenheit degrees to equivalent Celsius degrees.

In [ ]:

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

fahrenheit_temps = [37, 68, 98.6, -40]

celsius_temps = [fahrenheit_to_celsius(temp) for temp in fahrenheit_temps]

print("Temperatures in Fahrenheit:", fahrenheit_temps)
print("Equivalent temperatures in Celsius:", celsius_temps)

Temperatures in Fahrenheit: [37, 68, 98.6, -40]
Equivalent temperatures in Celsius: [2.7777777777777777, 20.0, 37.0, -40.0]

7) Write a menu-driven program to implement the stack data structure.

In [ ]:
class Stack:
    def init_(self):
        self.stack = []

    def empty_(self):
        return len(self.stack) == 0

    def push_(self, item):
        self.stack.append(item)
        print(f"{item} pushed to stack.")

    def pop_(self):
        if self.is_empty():
            print("Stack is empty!")
        else:
            item = self.stack.pop()
            print(f"{item} popped from stack.")

    def display_(self):
        if self.is_empty():
            print("Stack is empty!")
        else:
            print("Stack elements:", self.stack)

def main():
    stack = Stack()

    while True:
        print("\nMenu:")
        print("1. Push")
        print("2. Pop")
        print("3. Display")
        print("4. Exit")

        choice = int(input("Enter your choice: "))

        if choice == 1:
            item = input("Enter the item to push: ")
            stack.push(item)
        elif choice == 2:
            stack.pop()
        elif choice == 3:
            stack.display()
        elif choice == 4:
            print("Exiting...")
            break
        else:
            print("Invalid choice! Please choose again.")

if __name__ == "__main__":
    main()

Menu:
1. Push
2. Pop
3. Display
4. Exit
Enter your choice: 4
Exiting...

8) Write a menu-driven program to implement the Queue data structure.

In [ ]:
queue = []

def enqueue():
    item = input("Enter the item to enqueue: ")
    queue.append(item)
    print(f"{item} enqueued to queue.")

def dequeue():
    if not queue:
        print("Queue is empty!")
    else:
        item = queue.pop(0)
        print(f"{item} dequeued from queue.")

def display():
    if not queue:
        print("Queue is empty!")
    else:
        print("Queue elements:", queue)

while True:
    print("\nMenu:")
    print("1. Enqueue")
    print("2. Dequeue")
    print("3. Display")
    print("4. Exit")

    choice = int(input("Enter your choice: "))

    if choice == 1:
        enqueue()
    elif choice == 2:
        dequeue()
    elif choice == 3:
        display()
    elif choice == 4:
        print("Exiting...")
        break
    else:
        print("Invalid choice! Please choose again.")

Menu:
1. Enqueue
2. Dequeue
3. Display
4. Exit
Enter your choice: 3
Queue is empty!

Menu:
1. Enqueue
2. Dequeue
3. Display
4. Exit
Enter your choice: 4
Exiting...

9) Take two lists of numbers. Create third list of numbers for only those numbers from first list which are not there in 2nd list (use list comprehension).

In [ ]:

list_1 = [1, 2, 3, 4, 5]
list_2 = [4, 5, 6, 7, 8]

list_3 = [item for item in list_1 if item not in list_2]

print("First list:", list_1)
print("Second list:", list_2)
print("Third list (numbers in first list but not in second list):", list_3)

First list: [1, 2, 3, 4, 5]
Second list: [4, 5, 6, 7, 8]
Third list (numbers in first list but not in second list): [1, 2, 3]

Tuples in python :

1) A list contains names of boys and girls as its elements. Boys’ names are stored as tuples. Write a program to find out number of boys and girls in the list. (Hint: use isinstance(ele,tuple))

In [ ]:

names = [('prince', 'mihir'), 'priya', ('tirth', 'Smith'), 'kinjal', ('jenish', 'prahar'), 'khushi']

number_boys = 0
number_girls = 0

for name in names:
    if isinstance(name, tuple):
        num_boys += 1
    else:
        num_girls += 1

print("Number of boys:", number_boys)
print("Number of girls:", number_girls)

Number of boys: 0
Number of girls: 0

2) A list contains tuples containing roll no., name and age of student. Write a python program to create three lists separately for roll no., name and age

In [ ]:

students = [(1, 'Tirth', 17), (2, 'Prince', 18), (3, 'Jenish', 19), (4, 'Neel', 23)]

roll_number = []
name = []
age = []

for student in students:
    roll_number.append(student[0])
    name.append(student[1])
    age.append(student[2])

print("List of roll numbers:", roll_number)
print("List of names:", name)
print("List of ages:", age)

List of roll numbers: [1, 2, 3, 4]
List of names: ['Tirth', 'Prince', 'Jenish', 'Neel']
List of ages: [17, 18, 19, 23]

3) Suppose a date is represented as a tuple (d, m, y). Create two date tuples and find the number of days between the two dates.

In [ ]:
from datetime import datetime

date1 = (18, 2, 2025)
date2 = (2, 5, 2025)

date_time1 = datetime(date1[2], date1[1], date1[0])
date_time2 = datetime(date2[2], date2[1], date2[0])

difference = abs((date_time1 - date_time2).days)

print("Number of days between the two dates:", difference)

Number of days between the two dates: 73

4) Create a list of tuples containing a food item and its price. Sort the tuples in descending order by price.

In [ ]:

food_items = [('Burger', 25.0), ('Pizza', 120.0), ('Salad', 4.50), ('Pasta', 70.0), ('Sushi', 625.00)]

sorted_items = sorted(food_items, key=lambda item: item[1], reverse=True)

print("Food items sorted by price in descending order:", sorted_items)

Food items sorted by price in descending order: [('Sushi', 625.0), ('Pizza', 120.0), ('Pasta', 70.0), ('Burger', 25.0), ('Salad', 4.5)]

5) Remove empty tuple(s) from the list of tuples.

In [ ]:

tuple_list = [('Apple', 25), (), ('Pineapple', 2), ('Orange', 20), (), ('Banana', 11)]

filtered_list = [t for t in tuple_list if t]

print("List after removing empty tuples:", filtered_list)

List after removing empty tuples: [('Apple', 25), ('Pineapple', 2), ('Orange', 20), ('Banana', 11)]

6) Modify an element of a tuple.

In [ ]:

original_tuple = (1, 2, 3, 4, 5)

temp_list = list(original_tuple)

temp_list[4] = 7

modified_tuple = tuple(temp_list)

print("Original tuple:", original_tuple)
print("Modified tuple:", modified_tuple)

Original tuple: (1, 2, 3, 4, 5)
Modified tuple: (1, 2, 3, 4, 7)

7) Delete an element of a tuple.

In [ ]:

original_tuple = (1, 2, 3, 4, 5)

temp_list = list(original_tuple)

temp_list.remove(1)

modified_tuple = tuple(temp_list)

print("Original tuple:", original_tuple)
print("Modified tuple after deletion:", modified_tuple)

Original tuple: (1, 2, 3, 4, 5)
Modified tuple after deletion: (2, 3, 4, 5)

Sets in Python :

1) Write a program that converts words present in a list into uppercase and stores them in a set.

In [ ]:
def words_to_uppercase_set(word_list):

  return {word.upper() for word in word_list}

words_list = ["hello", "world", "python"]
uppercase_set = words_to_uppercase_set(words_list)
print(uppercase_set)

{'PYTHON', 'WORLD', 'HELLO'}

2) Write a program to create a set containing 10 random numbers in the range 15 to 45. Count how many of these numbers are less than 30. Delete all numbers that are greater than 35.

In [ ]:
import random

random_set = {random.randint(15, 45) for _ in range(10)}
less_30 = sum(1 for num in random_set if num < 30)
random_set.difference_update({num for num in random_set if num > 35})

print("Random Set:", random_set)
print("Numbers less than 30:", less_30)

Random Set: {34, 18, 20, 26}
Numbers less than 30: 3

3) Create an empty set. Write a program that adds five new names to this set, modifies one existing name and deletes two names from it. using python in short

In [ ]:
my_set = set()

my_set.add("Prince")
my_set.add("Virat")
my_set.add("Rohit")
my_set.add("David")
my_set.add("Smith")

my_set.remove("Virat")
my_set.add("Dhoni")

my_set.discard("Smith")
my_set.discard("Prince")

print(my_set)

{'David', 'Rohit', 'Dhoni'}

4) A set contains names which begin either with A or with B. Write a program to separate out the names into two sets, one containing names beginning with A and another with B.